.loader-wrapper {
	background-image: linear-gradient(#ffffffaa, #ffffffff);
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100vh;
	z-index: 9998;
}

.spinner-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

p {
	font-size: 17px;
	font-weight: 500;
	cursor: default;
}
