<div class="alert alert-success" role="alert">
	<h1 class="h4 alert-heading mb-3">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#check-circle-svg" /></svg>
		Operation Successfull
	</h1>
	<p class="m-0">Your message has been successfully encrypted and stored on the server. Check below for more details...</p>
</div>

<div class="input-group mt-3">
	<span class="input-group-text">Message:</span>
	<textarea id="secretTextArea"
			  class="form-control font-monospace py-2"
			  readonly>{{secretMsgObj.plainText}}</textarea>
</div>

<div class="input-group my-2" *ngIf="secretMsgObj.containsUsernameAndPassword">
	<span class="input-group-text">Username:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgObj.username}}">
</div>

<div class="input-group my-2" *ngIf="secretMsgObj.containsUsernameAndPassword">
	<span class="input-group-text">Password:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgObj.password}}">
</div>

<div class="input-group my-2" *ngIf="secretMsgObj.containsFile">
	<span class="input-group-text">Attached File:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgObj.fileName}}">
</div>

<hr />

<div class="input-group my-2">
	<span class="input-group-text">Message Id:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgId}}">
</div>

<div class="input-group my-2">
	<span class="input-group-text">Encryption Key:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgKey}}">
</div>

<div class="input-group my-2">
	<span class="input-group-text">Message URL:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgUrl}}">

	<button class="btn btn-secondary btn-sm" type="button"
			ngbTooltip="URL copied"
			triggers="manual"
			#ngbTooltipElement="ngbTooltip"
			[autoClose]="false"
			(click)="copySecretMsgUrlToClipboard()">
		Copy
	</button>
</div>

<blockquote class="my-4 blockquote text-center font-monospace fst-italic">
	<p>&mdash; Share your message with a recipient by sending him the 'Message URL' or QRCode &mdash;</p>
</blockquote>

<div class="d-flex flex-column align-items-center">
	<canvas id="qrCodeCanvas"></canvas>
	<button class="mt-2" (click)="saveQrCodeToFile()">Save QRCode</button>
</div>

<div class="text-center mt-4">
	<ng-container *ngIf="!secretMsgDelivered">
		<svg width="24" height="24" role="img" aria-label="warning-icon"><use xlink:href="#exclamation-triangle-svg" /></svg>
	</ng-container>
	<p class="lead mb-2" [hidden]="secretMsgDelivered">
		Keep this page open to receive a notification as soon as the recipient gets your message
	</p>
	<p class="delivery-status-text" [ngClass]="{'text-warning': !secretMsgDelivered, 'text-success': secretMsgDelivered}">
		Message Status: {{ secretMsgDelivered ? 'Delivered' : 'Undelivered' }}
	</p>
</div>
