<div class="alert alert-success" role="alert">
	<h1 class="h4 alert-heading mb-3">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#check-circle-svg" /></svg>
		Operation Successfull
	</h1>
	<p class="m-0">Your message has been successfully encrypted and stored on the server. Check below for more details...</p>
</div>

<div class="input-group mt-3">
	<span class="input-group-text">Message:</span>
	<textarea id="secretTextArea"
			  class="form-control font-monospace py-2"
			  readonly>{{secretMsgPlainText}}</textarea>
</div>

<div class="input-group my-2">
	<span class="input-group-text">File Attached?</span>
	<input type="text" class="form-control" readonly value="{{secretMsgContainsFile ? 'Yes' : 'No'}}">
</div>

<div class="input-group my-2" *ngIf="secretMsgContainsFile">
	<span class="input-group-text">FileName:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgAttachedFileName}}">
</div>

<hr />

<div class="input-group my-2">
	<span class="input-group-text">Message Id:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgId}}">
</div>

<div class="input-group my-2">
	<span class="input-group-text">Encryption Key:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgKey}}">
</div>

<div class="input-group my-2">
	<span class="input-group-text">Message URL:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgUrl}}">

	<button class="btn btn-secondary" type="button"
			ngbTooltip="URL copied to clipboard"
			triggers="manual"
			#ngbTooltipElement="ngbTooltip"
			(click)="copySecretMsgUrlToClipboard()">
		Copy
	</button>
</div>

<blockquote class="my-4 py-2 blockquote text-center font-monospace fst-italic">
	<p>&mdash; Share your message with a recipient by sending him the 'Message URL' or QRCode &mdash;</p>
</blockquote>

<div class="my-4 d-flex flex-column align-items-center">
	<canvas id="qrCodeCanvas"></canvas>
	<button class="mt-2" (click)="saveQrCodeToFile()">Save QRCode</button>
</div>

<div class="text-center">
	<p class="lead mb-2" *ngIf="!secretMsgDelivered">
		Keep this page open to receive a notification as soon as the recipient gets your message
	</p>
	<p class="delivery-status-text" [ngClass]="{'text-warning': !secretMsgDelivered, 'text-success': secretMsgDelivered}">
		Message Status: {{ secretMsgDelivered ? 'Delivered' : 'Undelivered' }}
	</p>
</div>

<ngb-accordion>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<div class="text-dark">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="warning-icon"><use xlink:href="#exclamation-triangle-svg" /></svg>
				<span class="font-weight-500">
					README
				</span>
			</div>
		</ng-template>

		<ng-template ngbPanelContent>
			<div class="card-body">
				<ul class="m-0">
					<li>Message is accessible for 1 time only</li>
					<li>Message is being removed from database after retrieval</li>
					<li>Unread messages are automatically destroyed 1 hour after their creation time</li>
				</ul>
			</div>
			<hr />
			<div class="card-footer text-center text-danger font-weight-500">
				DO NOT try visiting the link (Message URL) to see the message before sending it to the recipient, this action will result in message deletion!
			</div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>
