/* Global styles */

@media only screen and (max-width: 768px) {
	.m-hide {
		display: none;
	}

	.m-show {
		display: initial;
	}
}

@media only screen and (min-width: 768px) {
	.m-hide {
		display: initial;
	}

	.m-show {
		display: none;
	}
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

ul {
	padding-left: 1.5rem !important;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.font-weight-500 {
	font-weight: 500;
}

.toast-container .ngx-toastr {
	width: fit-content !important;
	max-width: 350px !important;
}
.toast-container.toast-top-center {
	margin-top: 10px;
}

.transition-effect {
	transition: all 1s ease-out;
}

.element-disabled {
	opacity: 0.5;
}
.element-disabled > * {
	cursor: not-allowed;
}

.hidden-transition {
	transition: visibility 0.2s linear, opacity 0.2s linear;
}
.hidden {
	opacity: 0;
	visibility: hidden;
}

.word-wrap {
	word-break: break-word;
	overflow-wrap: anywhere;
}

span.as-link {
	color: var(--bs-link-color);
	text-decoration: underline;
	cursor: pointer;
}
span.as-link:hover {
	color: var(--bs-link-hover-color);
}
