<ng-container [ngSwitch]="componentState">

	<ng-container *ngSwitchCase="ComponentState.LoadingMessage">
		<div class="d-flex align-items-center">
			<span class="spinner-grow spinner-grow-sm me-2" role="status"></span>
			Loading message...
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="ComponentState.ReadyNoMessage">
		<div class="card border-light">
			<div class="card-header">
				Message Id:
				<span class="font-weight-500">{{messageId}}</span>
			</div>
			<div class="card-body m-0 py-4 alert alert-warning">
				No message was found on server
			</div>
		</div>

		<p class="m-0 mt-4 text-center text-muted">
			<i>The Message URL may have already been used and the message no longer exists</i>
		</p>
	</ng-container>

	<ng-container *ngSwitchCase="ComponentState.ReadyWithMessage">
		<div class="card border-light" *ngIf="decryptionResult.result == DecryptionResult.Error">
			<div class="card-header">
				Message Id:
				<span class="font-weight-500">{{messageId}}</span>
			</div>
			<div class="card-body m-0 py-4 alert alert-danger">
				Error while trying to decrypt the message: ({{decryptionResult.errorMsg}})
			</div>
		</div>

		<div class="card border-light" *ngIf="decryptionResult.result == DecryptionResult.OK">
			<div class="card-header font-weight-500">
				Message
			</div>
			<div class="card-body m-0 py-4 alert alert-custom-blue decrypted-msg-text">
				<pre class="m-0">{{decryptionResult.decryptedMsg}}</pre>
			</div>
		</div>

		<p class="m-0 mt-4 text-center text-muted">
			<i>Message was removed from server's database, the given Message URL is no longer valid</i>
		</p>
	</ng-container>

</ng-container>
