<ng-template #getSecretMessageConfirmationModalBody>
	<p class="text-center word-wrap">
		Message Id: <span class="font-weight-500">{{messageId}}</span>
	</p>
	<hr />
	<p class="lead text-center">
		<span class="d-flex justify-content-center">
			<svg width="24" height="24" role="img" aria-label="warning-icon"><use xlink:href="#exclamation-triangle-svg" /></svg>
		</span>
		Once the message is retrieved it will be automatically deleted from server
		<br /><br />
		Please confirm this action
	</p>
</ng-template>


<h1 class="h5 mb-1">
	Secret Message
</h1>
<p class="mb-4">
	<span style="font-size: 18px; line-height: 0">&#10149; &ensp;</span>
	<span class="font-weight-500">ID</span>: {{messageId}}
</p>

<ng-container [ngSwitch]="componentState">

	<ng-container *ngSwitchCase="ComponentState.LoadingMessage">
		<div class="d-flex align-items-center">
			<img class="me-2" src="/assets/loader.gif" width="24" height="24">
			Loading message...
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="ComponentState.Aborted">
		<div class="d-flex align-items-center">
			<svg  class="text-warning me-2" width="24" height="24" role="img" aria-label="warning-icon"><use xlink:href="#exclamation-triangle-svg" /></svg>
			<p class="m-0">
				Message retrieval was aborted.
				<span class="ms-1 as-link" (click)="reload()">Try again</span>
			</p>
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="ComponentState.Error">
		<div class="d-flex align-items-center">
			<img class="me-2" src="/assets/error.gif" width="24" height="24">
			<p class="m-0">
				Could not load message.
				<span class="ms-1 as-link" (click)="reload()">Try again</span>
			</p>
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="ComponentState.ReadyNoMessage">
		<div class="card border-light">
			<div class="card-header">
				<span class="font-weight-500">Message</span>
			</div>
			<div class="card-body m-0 py-4 alert alert-warning">
				No message was found on server
			</div>
		</div>

		<p class="m-0 mx-4 mt-4 text-center text-muted">
			The Message URL may have already been used and the message no longer exists
		</p>
	</ng-container>

	<ng-container *ngSwitchCase="ComponentState.ReadyWithMessage">
		<ng-template [ngIf]="decryptionResult.result == DecryptionResult.Error">
			<div class="card border-light">
				<div class="card-header">
					<span class="font-weight-500">Message</span>
				</div>
				<div class="card-body m-0 py-4 alert alert-danger">
					Error while trying to decrypt the message:
					<br />
					<b>{{decryptionResult.errorMsg}}</b>
				</div>
			</div>
		</ng-template>

		<ng-template [ngIf]="decryptionResult.result == DecryptionResult.OK">
			<div class="card border-light">
				<div class="card-header">
					<span class="font-weight-500">Message</span>
				</div>
				<div class="card-body m-0 py-4 alert alert-custom-blue decrypted-msg-text">
					<pre class="m-0" [innerHTML]="secretMessageTextAsHtml"></pre>

					<ng-container *ngIf="decryptionResult.decryptedMsg.containsFile">
						<hr />
						<button class="btn btn-outline-dark d-flex align-items-center word-wrap text-start" (click)="downloadAttachment()">
							<svg class="flex-shrink-0 me-3" width="30" height="30" role="img" aria-label="download-icon"><use xlink:href="#download-svg" /></svg>
							{{decryptionResult.decryptedMsg.fileName}}
						</button>
					</ng-container>
				</div>
			</div>

			<button class="d-flex ms-auto mt-1 btn btn-secondary btn-sm"
					ngbTooltip="Message copied to clipboard"
					triggers="manual"
					#ngbTooltipElement="ngbTooltip"
					[autoClose]="false"
					(click)="copyMessageContentToClipboard()"
					[ngClass]="{ 'element-disabled': msgAutoClearTimeoutTriggered }"
					[disabled]="msgAutoClearTimeoutTriggered">
				Copy message
			</button>
		</ng-template>

		<p class="m-0 mx-4 mt-4 text-center text-muted">
			Message was removed from server's database, the given Message URL is no longer valid
		</p>
	</ng-container>

</ng-container>
