.card-body.alert {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.alert-custom-blue {
	background-color: #e6f0ff !important;
}

.decrypted-msg-text {
	font-size: 20px;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
