<h1 class="h5">Welcome to SecretMessageSharingWebApp</h1>
<p class="my-3">
	This app allows you to create ecrypted messages that can be securely shared with a unique recipient.
	<br />
	Learn more by checking out <a [routerLink]="[Routes.AppInfo]">App Info</a>
</p>

<div class="mt-4">
	<label class="form-label h6" for="secretTextArea">Message</label>
	<textarea id="secretTextArea"
			  class="form-control font-monospace"
			  [(ngModel)]="secretMsgPlainText"
			  [ngClass]="{ 'is-invalid': secretTextAreaField.invalid && (secretTextAreaField.dirty || secretTextAreaField.touched) }"
			  #secretTextAreaField="ngModel"
			  placeholder="Type your secret message here"
			  required></textarea>

	<div class="invalid-feedback" *ngIf="secretTextAreaField.invalid && (secretTextAreaField.dirty || secretTextAreaField.touched)">
		<div *ngIf="secretTextAreaField.errors?.['required']">
			Please provide a message...
		</div>
	</div>
</div>

<div class="mt-2 d-flex gap-2 justify-content-end">
	<button #submitButton type="button" class="btn btn-primary" (click)="onEncryptButtonClick()" [disabled]="!secretMsgPlainText || encryptionInProgress">
		<span *ngIf="encryptionInProgress" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
		{{ !encryptionInProgress ? 'Encrypt' : 'Encrypting...' }}
	</button>
</div>
