<div class="my-2">
	<textarea id="secretTextArea"
			  class="form-control font-monospace"
			  [(ngModel)]="secretTextArea"
			  [ngClass]="{ 'is-invalid': secretTextAreaField.invalid && (secretTextAreaField.dirty || secretTextAreaField.touched) }"
			  #secretTextAreaField="ngModel"
			  placeholder="Type your secret message here"
			  required></textarea>

	<div class="invalid-feedback" *ngIf="secretTextAreaField.invalid && (secretTextAreaField.dirty || secretTextAreaField.touched)">
		<div *ngIf="secretTextAreaField.errors?.['required']">
			Please provide a message...
		</div>
	</div>
</div>

<div class="d-flex gap-2 justify-content-end">
	<button #submitButton type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!secretTextArea || encryptionInProgress">
		<span *ngIf="encryptionInProgress" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
		{{ !encryptionInProgress ? 'Encrypt' : 'Encrypting...' }}
	</button>
</div>
