p {
	overflow-wrap: break-word;
}

input:read-only{
	background-color: white;
}

.input-group-text {
	width: 8rem;
}

#secretTextArea {
	font-size: 18px;
}

#qrCodeCanvas {
	margin: -1rem -1rem -1rem -1rem;
}

table th {
	width: 50%;
	border-right: 1px solid #ddd;
	font-size: 15px;
	font-weight: 600;
}

table td {
	text-align: right;
}

button[aria-label="Close"] {
	background-color: white;
	box-shadow: none;
	outline: none;
}
