<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#check-circle-fill" /></svg>
		Operation Successfull
	</h4>
	<p class="my-3">Your message has been successfully encrypted and stored on the server!</p>
	<hr />
	<p class="mb-0">Below you can find the necessary details you need, in order to share your encrypted message:</p>
</div>

<div class="input-group mt-3">
	<span class="input-group-text">Message:</span>
	<textarea id="secretTextArea"
			  class="form-control font-monospace py-2"
			  readonly>{{secretMsgPlainText}}</textarea>
</div>

<div class="input-group my-2">
	<span class="input-group-text">Message Id:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgId}}">
</div>

<div class="input-group my-2">
	<span class="input-group-text">Encryption Key:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgKey}}">
</div>

<div class="input-group my-2">
	<span class="input-group-text">Message URL:</span>
	<input type="text" class="form-control" readonly value="{{secretMsgUrl}}">

	<button class="btn btn-secondary" type="button"
			ngbTooltip="URL copied to clipboard"
			triggers="manual"
			#ngbTooltipElement="ngbTooltip"
			(click)="copySecretMsgUrlToClipboard()">
		Copy
	</button>
</div>

<blockquote class="my-4 py-2 blockquote text-center font-monospace fst-italic">
	<p>&mdash; Share your message with a recipient by sending him the 'Message URL' or QRCode &mdash;</p>
</blockquote>

<div class="my-4 d-flex flex-column align-items-center">
	<canvas id="qrCodeCanvas"></canvas>
	<button class="mt-2" (click)="saveQrCodeToFile()">Save QRCode</button>
</div>

<div class="text-center">
	<p class="lead mb-2">
		Keep this page open to receive a notification as soon as the recipient gets your message
	</p>
	<p class="delivery-status-text" [ngClass]="{'text-warning': !messageDeliveryNotificationData, 'text-success': messageDeliveryNotificationData}">
		Message Status: {{ messageDeliveryNotificationData ? 'Delivered' : 'Undelivered' }}
	</p>
</div>

<ngb-accordion>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<div class="text-dark">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
				<span class="font-weight-500">
					README
				</span>
			</div>
		</ng-template>

		<ng-template ngbPanelContent>
			<div style="margin: -1rem -1.25rem;">
				<div class="card-body">
					<ul class="m-0">
						<li>Message is accessible for 1 time only</li>
						<li>Message is being removed from database after retrieval</li>
						<li>Unread messages are automatically destroyed 1 hour after their creation time</li>
					</ul>
				</div>

				<div class="card-footer text-center text-danger font-weight-500">
					DO NOT try visiting the link (Message URL) to see the message before sending it to the recipient, this action will result in message deletion!
				</div>
			</div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>

<ng-template #msgDeliveryNotificationModalElement let-modal>
	<div class="modal-header bg-dark bg-gradient text-light">
		<h4 id="modal-basic-title" class="modal-title">
			Message delivery notification
		</h4>
		<button type="button" aria-label="Close" class="btn-close btn btn-dark bg-light" (click)="modal.dismiss()"></button>
	</div>

	<div class="modal-body">
		<p>Your message has been delivered to a recipient, please find more details below:</p>
		<table class="table table-striped my-4">
			<tbody>
				<tr>
					<th>Message created on</th>
					<td>{{messageDeliveryNotificationData.messageCreatedOn | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
				</tr>
				<tr>
					<th>Message delivered on</th>
					<td>{{messageDeliveryNotificationData.messageDeliveredOn | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
				</tr>
				<tr>
					<th>Recipient's IP</th>
					<td>{{messageDeliveryNotificationData.recipientIp}}</td>
				</tr>
				<tr>
					<th>Recipient's Device</th>
					<td>{{messageDeliveryNotificationData.recipientClientInfo}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal-footer p-2">
		<a class="btn btn-dark bg-gradient" [routerLink]="'/'" (click)="modal.dismiss()">Return to Home Page</a>
	</div>
</ng-template>
