#secretMsgTextArea {
	min-height: 100px;
	font-size: 18px;
}
#secretMsgTextArea::placeholder {
	font-size: 16px;
}

h1 {
	border-bottom: 1px dotted;
	padding-bottom: 4px;
}

button {
	width: 200px;
}

.form-container {
	background-color: rgba(100, 100, 100, 0.05);
	border-radius: 16px;
	margin: 0 -8px;
	padding: 20px;
	box-shadow: 3px 2px 5px rgba(200, 200, 200, 0.50);
}
