<div class="form-container">
	<h1 class="h5">Create a Message</h1>

	<form #form="ngForm" [formGroup]="newSecretMessageForm" (ngSubmit)="submitNewSecretMessageForm()">
		<div class="mt-3">
			<label class="form-label h6" for="secretMsgTextArea">Message</label>
			<textarea id="secretMsgTextArea" class="form-control font-monospace"
					  formControlName="secretMsgPlainTextFormControl"
					  [ngClass]="{ 'is-invalid': form.submitted && secretMsgPlainTextFormControl.invalid }"
					  [readonly]="formSubmitted"
					  placeholder="Type your secret message here"
					  required></textarea>

			<div class="invalid-feedback" *ngIf="form.submitted && secretMsgPlainTextFormControl.invalid">
				<div *ngIf="secretMsgPlainTextFormControl.errors?.required">
					Please provide a message.
				</div>
			</div>
		</div>

		<div class="d-md-flex align-items-center mt-3">
			<div class="form-check form-switch text-nowrap checkbox-label-group m-0 me-3 col-lg-2 col-md-3 col-sm-12">
				<input class="form-check-input" id="includeAttachedFileCheckbox" type="checkbox"
					   formControlName="includeAttachedFileFormControl"
					   (change)="includeAttachedFileCheckboxToggle()"
					   [attr.disabled]="formSubmitted">
				<label class="form-check-label h6 m-0" for="includeAttachedFileCheckbox">Attach File?</label>
			</div>

			<div class="hidden-transition w-100 mt-1 transition-effect" [ngClass]="{ 'element-disabled': !includeAttachedFile }">
				<input type="file" class="form-control"
					   formControlName="attachedFileFormControl"
					   [ngClass]="{ 'is-invalid': form.submitted && attachedFileFormControl.invalid }"
					   (change)="onFileSelection($event)"
					   [readonly]="formSubmitted"
					   required>

				<div class="invalid-feedback" *ngIf="form.submitted && attachedFileFormControl.invalid">
					<div *ngIf="attachedFileFormControl.errors?.required">
						Please select a file.
					</div>
				</div>
			</div>
		</div>

		<div class="d-md-flex align-items-center mt-3">
			<div class="form-check form-switch text-nowrap checkbox-label-group m-0 me-3 col-lg-2 col-md-3 col-sm-12">
				<input class="form-check-input" id="secretMsgRequiresOtpCheckbox" type="checkbox"
					   formControlName="secretMsgRequiresOtpFormControl"
					   (change)="secretMsgRequiresOtpCheckboxToggle()"
					   [attr.disabled]="formSubmitted">
				<label class="form-check-label form-label h6 m-0" for="secretMsgRequiresOtpCheckbox">Require OTP?</label>
			</div>

			<div class="hidden-transition w-100 mt-1 transition-effect" [ngClass]="{ 'element-disabled': !secretMsgRequiresOtp }">
				<input type="email"
					   class="form-control"
					   id="secretMsgOtpRecipientsEmailFormControl"
					   formControlName="secretMsgOtpRecipientsEmailFormControl"
					   [ngClass]="{ 'is-invalid': form.submitted && secretMsgOtpRecipientsEmailFormControl.invalid }"
					   [readonly]="formSubmitted"
					   placeholder="Enter recipient's email address here"
					   pattern="[\w.]+@[a-zA-Z_-]+?(?:\.[a-zA-Z]{2,6})+"
					   required>

				<div class="invalid-feedback" *ngIf="form.submitted && secretMsgOtpRecipientsEmailFormControl.invalid">
					<div *ngIf="secretMsgOtpRecipientsEmailFormControl.errors?.required">
						Please provide an email address.
					</div>
					<div *ngIf="secretMsgOtpRecipientsEmailFormControl.errors?.pattern">
						Email address is invalid.
					</div>
				</div>
			</div>
		</div>

		<div class="mt-4 d-flex gap-2 justify-content-end">
			<button #submitButton type="submit" class="btn btn-primary" [disabled]="formSubmitted">
				<span *ngIf="formSubmitted" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
				{{ !formSubmitted ? 'Encrypt' : 'Encrypting...' }}
			</button>
		</div>
	</form>
</div>
