.font-weight-500 {
	font-weight: 500;
}

p {
	overflow-wrap: break-word;
}

input:read-only{
	background-color: white;
}

.input-group-text {
	width: 8rem;
}

#secretTextArea {
	font-size: 18px;
}

#qrCodeCanvas {
	margin: -1rem -1rem -1rem -1rem;
}
