<div [ngSwitch]="componentState">
	<div class="d-flex align-items-center" *ngSwitchCase="ComponentState.LoadingMessage">
		<span class="spinner-grow spinner-grow-sm me-2" role="status"></span>
		Loading message...
	</div>

	<div *ngSwitchCase="ComponentState.ReadyNoMessage">
		<div class="card border-light">
			<div class="card-header">
				Message Id:
				<span class="font-weight-500">{{messageId}}</span>
			</div>
			<div class="card-body alert alert-warning m-0 py-4">
				No message was found on server
			</div>
		</div>
	</div>

	<div *ngSwitchCase="ComponentState.ReadyWithMessage">
		<div class="card border-light" *ngIf="decryptionResult.result == DecryptionResult.Error">
			<div class="card-header">
				Message Id:
				<span class="font-weight-500">{{messageId}}</span>
			</div>
			<div class="card-body alert alert-danger m-0 py-4">
				Error while trying to decrypt the message: ({{decryptionResult.errorMsg}})
			</div>
		</div>

		<div class="card border-light" *ngIf="decryptionResult.result == DecryptionResult.OK">
			<div class="card-header font-weight-500">
				Message
			</div>
			<div class="card-body alert alert-custom-blue m-0 py-4 font-monospace" style="font-size: 19px;">
				{{decryptionResult.decryptedMsg}}
			</div>
		</div>
	</div>
</div>
