<div [ngSwitch]="componentState">
	<div class="d-flex align-items-center" *ngSwitchCase="ComponentState.LoadingMessage">
		<span class="spinner-grow spinner-grow-sm me-2" role="status"></span>
		Loading message...
	</div>

	<div *ngSwitchCase="ComponentState.ReadyNoMessage">
		<div class="card border-light">
			<div class="card-header">
				Message Id:
				<span class="font-weight-500">{{messageId}}</span>
			</div>
			<div class="card-body alert alert-warning m-0 py-4">
				No message was found on server
			</div>
		</div>

		<p class="py-4 text-center text-muted">
			<i>The Message URL may have already been used and the message no longer exists</i>
		</p>
	</div>

	<div *ngSwitchCase="ComponentState.ReadyWithMessage">
		<div class="card border-light" *ngIf="decryptionResult.result == DecryptionResult.Error">
			<div class="card-header">
				Message Id:
				<span class="font-weight-500">{{messageId}}</span>
			</div>
			<div class="card-body alert alert-danger m-0 py-4">
				Error while trying to decrypt the message: ({{decryptionResult.errorMsg}})
			</div>
		</div>

		<div class="card border-light" *ngIf="decryptionResult.result == DecryptionResult.OK">
			<div class="card-header font-weight-500">
				Message
			</div>
			<div class="card-body alert alert-custom-blue m-0 font-monospace" style="font-size: 20px;">
				<pre class="m-0">{{decryptionResult.decryptedMsg}}</pre>
			</div>
		</div>

		<div class="mt-4 text-center text-muted d-flex flex-column align-items-center">
			<svg class="bi flex-shrink-0" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
			<p>
				<i>Message was removed from server's database, the given Message URL is no longer valid</i>
			</p>
		</div>
	</div>
</div>
