@media only screen and (max-width: 992px) {
	.navbar-brand.navbar-brand-width {
		width: calc(100% - 72px);
		white-space: normal;
	}
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link:hover {
	color: var(--bs-link-hover-color) !important;
}

.navbar-toggler span.icon-bar {
	display: block;
	background-color: #4f4f4f;
	height: 3px;
	width: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all 0.35s ease-out;
	transform-origin: center left;
}
.navbar-toggler:not(.collapsed) span.icon-bar:nth-child(1) {
	transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span.icon-bar:nth-child(2) {
	opacity: 0;
}
.navbar-toggler:not(.collapsed) span.icon-bar:nth-child(3) {
	transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-collapse {
	overflow: hidden;
	transition: all 0.5s ease;
}
.navbar-collapse.collapse {
	display: block !important;
	max-height: 0;
}
.navbar-collapse.show {
	max-height: 120px;
}
